<!-- Jumbotron -->
<% provide(:title,"首页") %>

<div class="masthead">
  <ul class="nav nav-justified">
    <li class="active"><a href="/">首页</a></li>
    <li><a href="#">热点新闻</a></li>
    <li><a href="/info">信息发布</a></li>
    <li><a href="#">商品出售</a></li>
    <li><a href="#">联系我们</a></li>
  </ul>
</div>

<div class="container" style="background: url() no-repeat;background-size: 97.5% 600px;">
<div class="jumbotron" > 
  <h1>青阳科技</h1>
  <p class="lead">PCB电路板网上订购平台</p>
  <p><a class="btn btn-lg btn-success" href="/signup" role="button">现在注册</a></p>
</div>
</div>
<!-- Example row of columns -->
<div class="row">
  <div class="col-lg-4">
    <h2>信息1</h2>
    <p>信息内容</p>
    <p><a class="btn btn-primary" href="#" role="button">详细内容 &raquo;</a></p>
  </div>
  <div class="col-lg-4">
    <h2>信息2</h2>
    <p>信息内容2 </p>
    <p><a class="btn btn-primary" href="#" role="button">详细内容 &raquo;</a></p>
  </div>
  <div class="col-lg-4">
    <h2>信息3</h2>
    <p>信息内容3</p>
    <p><a class="btn btn-primary" href="#" role="button">详细内容 &raquo;</a></p>
  </div>
</div>
