<div class="footer">
  <div class="container">
      <div class="col-md-12 text-center">
        <small>
          <p>&copy; <%= t('foot_com') %></p>
        </small>
        <p><span><%= t('phone_com') %></span> | <span><%= t('address_com') %></span></p>
      </div>
  </div>
</div>
